server:
  http_listen_port: 3200
  # log_level: debug

distributor:
  receivers: # this configuration will listen on all ports and protocols that tempo is capable of.
    jaeger: # the receives all come from the OpenTelemetry collector.  more configuration information can
      protocols: # be found there: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver
        thrift_http: #
        grpc: # for a production deployment you should only enable the receivers you need!
        thrift_binary:
        thrift_compact:
    zipkin:
    otlp:
      protocols:
        http: # port 4318
          cors:
            allowed_origins:
              - "*"
        grpc: # port 4317
    opencensus:

storage:
  trace:
    backend: local # backend configuration to use
    wal:
      path: /data/wal # where to store the the wal locally
    local:
      path: /data/blocks
